.textAndImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 100px 10%;
  }

  .ul {
    list-style: none;
  }

  .list {
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0 50px;
    color: #326b6a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
    max-width: 500px;
  }

  .lst {
    display: flex;
    flex-direction: column;
  }

  .widthContent {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
  }

  .chosen {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #326b6a; 
    color: white
  }

  .lstImg {
    width: 400px;
    height: 250px;
  }

  .heading {
    margin: 10px;
    font-size: 1.6rem;
  }





  .card {
    margin: 50px 10%;
    width: 80%;
    outline: var(--outline-width) solid hotpink;
  }
  
  .card__content {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow: hidden;
  
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  
    align-items: stretch;
    outline: var(--outline-width) solid lime;
  }
  
  .card__content > div {
    grid-area: text;
    width: 80%;
    place-self: center;
    text-align: left;
  
    display: grid;
    gap: 1em;
    place-items: start;
  }
  
  .card__content > figure {
    grid-area: img;
    overflow: hidden;
  }
  
  .card__content > figure > img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .licenceTitle {
    font-weight: 500;
    font-size: 2.5rem;
  }
  
  .p {
    font-size: 1.5rem;
  }
  
  .btn {
    background: rgb(188 87 36);
    color: rgb(255 255 255);
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
  }
   

  @media only screen and (max-width: 1020px) {
    .widthContent {
      display: none;
    }
  }

  @media only screen and (max-width: 750px) {
    .heading {
      font-size: 1.1rem;
      margin: 10px 0;
    }

    .list {
      font-size: 1rem;
      padding: 0;
    }

    .chosen {
      background-color: transparent;
      color: #326b6a;
    }
    .card__content > div {
      gap: 0
    }
  }

  @media only screen and (max-width: 600px) {
    .heading {
      margin: 0;
    }
    .card {
      width: 100%;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
    }

    .card__content {
      padding-top: 30px;
      border-radius: 0;
      box-shadow: none;
    }
    .lstImg {
      border-radius: 10px 0 0 10px;
    }
    .chosen {
      padding: 0;
    }
  }