.clients {
    width: calc(100vw - 100px);
    display: flex;
  }
  .containerItems{
    width: 100%;
  }
  .clientsFilter { 
    width: 38%;
  }
  .flex {
    display: none;
  }

  .sideFilters {
    margin: 20px;
    font-size: 1.1rem;
    border: 3px solid #eaebef;
    background-color: #eaebef;
    border-radius: 16px;
    padding: 20px;
    color: #3d8584;
    font-weight: 700px;
    width: 38%;
    height: 60vh;
  }
  
  .title {
    font-weight: 700;
    width: 80%;
    margin: 10px 0;
  }
  
  .horizontal {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: calc(100vw - 100px);
    font-size: 1.1rem;
    border: 3px solid #eaebef;
    background-color: #eaebef;
    border-radius: 16px;
    padding: 20px;
    color: #3d8584;
    font-weight: 700px;
  }
  
  .filters {
    display: flex;
  }
  
  .searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border-radius: 16px;
    padding: 0 16px;
    cursor: pointer;
    background-color: #fff;
    margin: 0 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 50px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .input {
    outline: none;
    color: #252525;
    font-size: 1.1rem;
  }
  
  .filterHeading {
    margin: 20px 16px;
  }
  
  .checkboxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    height: 50px;
    color: #3d8584;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .showFilters {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: calc(100vw - 100px);
    font-size: 1.1rem;
    border: 3px solid #eaebef;
    background-color: #eaebef;
    border-radius: 16px;
    padding: 20px;
    color: #3d8584;
    font-weight: 700px; 
  }
  
  .showFilters::-webkit-scrollbar {
    margin: 6px;
    width: 8px;
    height: 8px;
    background: #eaebef;
    border-radius: 8px;
  }
  
  .showFilters::-webkit-scrollbar-thumb {
    background: #66d3d1;
    border-radius: 8px;
  }
  
  .deleteFilter {
    border: 2px solid #3d8584;
    background-color: #3d8584;
    color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 8px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .deleteAllFilters {
    border: 2px solid #3d8584;
    background-color: white;
    color: #3d8584;
    border-radius: 16px;
    padding: 10px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .filter {
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .none {
    display: none;
  }
  
  .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
  }
  .checkboxContainer:hover {
    background-color: #e1fdfd;
  }
  .item .itemText {
    color: #767676;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
  }
  .item.checked .checkbox {
    background-color: #3d8584;
    border-color: #3d8584;
  }
  .checkbox .checkIcon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }
  .item.checked .checkIcon {
    transform: scale(1);
  }
  
  .paginationContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  } 
  
  
  .filters {
    display: none;
  }
  
  .adapt {
    background-color: #66d3d1;
    border: 2px solid #66d3d1;
    font-size: 1rem;
    color: white;
    width: 230px;
    padding: 10px 0;
    border-radius: 8px;
    display: none;
    margin: 10px;
  }
  
  .adapt:hover {
    background-color: #3d8584;
  }
  
  @media only screen and (max-width: 800px) {
    .adapt {
      display: block;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .paginationContainer {
      flex-direction: column;
      align-items: center;
    }
    .clients {
      width: calc(100vw - 86px);
      margin: 0;
    }
    .filters {
      display: flex; 
    }
    .showFilters {
      display: none;
    }
    .sideFilters {
      display: none;
    }
    .flex {
      display: flex;
      gap: 10px;
      width: calc(100% - 32px);
      margin: 16px;
    }
    .searchContainer {
      margin: 10px 0;
      width: 90%;
    }
    /* .cardsContainer {
      width:  calc(100vw - 86px);
    } */
    .filters {
      width: 80%;
    }
    .horizontal {
      font-size: 0.9rem;
      width:  calc(100vw - 86px);
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 400px) {
  .filters {
    width: 100%;
  }
  }