.sliderImg {
    width: 250px;
    height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 50px 0; /* Adjust padding accordingly */
    text-align: center;
    color: #3d8584;
    background-color: #EFEFEF;
    align-items: center;
}

.heading {
    font-size: 2rem;
    margin-bottom: 40px;
}

.marquee {
    background: white;
    box-shadow: 0,
                0 -10px 20px -5px rgba(0, 0, 0, 0.125) inset,
                0,
                10px 0 20px -5px #efefef inset;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width:1600px;
    --total-items: 14; /* Default total number of items */
    --animation-duration: 10s; /* Default animation duration */
}

.marquee::before,
.marquee::after {
    background: linear-gradient(
        to right,
        #efefef 0%,
        rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.marquee::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.marquee::before {
    left: 0;
    top: 0;
}

@media only screen and (max-width: 600px){
    .heading {
        font-size: 1.7rem;
    }
}