.addParticipant {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.miniPlus {
  color: #00ae29;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
}

.inputParticipant {
  padding: 10px 20px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  color: grey;
  justify-content: center;
  font-size: 16px;
  width: calc(100% - 2rem - 50px);
  background-color: white;
}