.arrow {
  background: #b1d5d5;
  border: 1px solid #b1d5d5;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #3d8584;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slide-up {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.carouselImages {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  align-items: center;
}

.imgContainer {
  width: calc(100vw - 100px);
  display: flex;
  justify-content: center;
}

.carouselImage {
  /* height: calc(100vh - 350px); */
  width: 90%;
  height: auto;
  border-radius: 20px;
}

.carouselContainer {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carouselContainer button {
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background-color: #f2f2f2; /* example background color */
  border: none;
  cursor: pointer;
}

.carouselContainer button:hover {
  background-color: #e3e3e3; /* example hover background color */
}


.pc {
  display: block;
}
.ipad {
  display: none;
}
.phone {
  display: none;
}

/* @media only screen and (min-width: 900px) {
  .carouselImage {
    width: auto;
    height: calc(100vh - 300px);
  }
} */

@media only screen and (max-width: 830px) {
  .pc {
    display: none;
  }
  .ipad {
    display: block;
  }
  .phone {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .pc {
    display: none;
  }
  .ipad {
    display: none;
  }
  .phone {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .carouselImages {
    top: 350px;
  }
}